name: CI

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ci.yml'
      - 'Formula/*'
      - 'scripts/*'
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - 'Formula/*'
      - 'scripts/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    runs-on: macos-14
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: bash ./scripts/tss.sh
      - run: bash ./scripts/robots.sh

  linux:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
    container:
      image: "peaceiris/brew:latest"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: bash ./scripts/tss.sh
      - run: bash ./scripts/robots.sh
