name: Shell

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/shell.yml'
      - '**.sh'
      - 'Makefile'
  pull_request:
    paths:
      - '.github/workflows/shell.yml'
      - '**.sh'
      - 'Makefile'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  shellcheck:
    runs-on: ubuntu-22.04
    timeout-minutes: 3
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - run: make shellcheck
